body, html {
  height: 100%;
}
.top {
  position:relative;
  width:100%;
  z-index:1;
  top:0;
}
.black,.hover-black:hover {
  color:#fff!important;
  background-color:#000!important
}
.navrow {
  width:16%;
  padding-left:3px;
  display:inline-block;
}
.button {
  border:none;
  display:inline-block;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  width:100%;
  padding:8px;
  text-align:center;
}
.button:hover {
  color:#000!important;
  background-color:#ccc!important;
}
.footer {
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  border-top:2px solid;
}
